[submodule "nullboard"]
	path = nullboard
	url = https://github.com/mrgamecube/nullboard
[submodule "MCCountdown"]
	path = MCCountdown
	url = https://github.com/MrGameCube/MCCountdown
[submodule "fehlzeiten"]
	path = fehlzeiten
	url = git@github.com:MrGameCube/fehlzeiten-gui
[submodule "gehen-wir-in-die-mensa"]
	path = gehen-wir-in-die-mensa
	url = https://github.com/MrGameCube/gehen-wir-in-die-mensa
