html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #2B2C2A;
}

.grid {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto max-content;
    grid-template-columns: 1fr auto;
    grid-template-areas: "content content" ". link";

}
 h3 {
     grid-area: content;
 }

 a {
     grid-area: link;
 }
